/* 水平间距 */
$p-spacing-row-5:5px;
$p-spacing-row-10:10px;
$p-spacing-row-15:15px;
$p-spacing-row-20:20px;

/* 垂直间距 */
$p-spacing-col-5:5px;
$p-spacing-col-10:10px;
$p-spacing-col-15:15px;
$p-spacing-col-20:20px;

/* 背景颜色 */
$p-bg-color-white:#FFFFFF;
$p-bg-color-grey:#909399;

/* 文字粗细 */
$p-font-weight-base:550;
$p-font-weight-lg:600;